<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body{
                border: 2px solid black;
                padding: 20px;
                margin: 20px;
                background-color: aqua;;
            }
            h1{
                text-align: center;
            }
            a{
                border: 1px solid black;
                background-color: aliceblue;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Grocery store app</h1>
        <p>This is home page of Grocery store app</p>
        <p>This application helps to manage grocery information</p>
        <br>
        <a href="http://127.0.0.1:8000/Grocerystore/displaygrocery">Display complete grocerydetails</a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/Grocerystore/additem">Add new items to list of groceries</a>
        <br>
    </body>
</html>