<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body{
                border: 2px solid black;
                padding: 20px;
                margin: 20px;
                background-color: aqua;;
            }
            h1{
                text-align: center;
            }
            a{
                border: 1px solid black;
                background-color: aliceblue;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Employee Management app</h1>
        <p>This is home page of Employee management application</p>
        <p>This application helps to manage emp information like add,delete employee info</p>
        <br>
        <a href="http://127.0.0.1:8000/employee/insert">Add new emp information</a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/employee/display">Display emp information</a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/employee/update">Update information</a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/employee/delete">Delete information</a>
        <br>
    </body>
</html>