<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body{
                border: 2px solid black;
                padding: 20px;
                margin: 20px;
                background-color: aqua;;
            }
            h1{
                text-align: center;
            }
            a{
                border: 1px solid black;
                background-color: aliceblue;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Room Booking app</h1>
        <p>This is home page of Room Booking application</p>
        <p>This application helps to manage booking information like add,delete employee info</p>
        <br>
        <a href="http://127.0.0.1:8000/Roombook/addRooms">Add new room information</a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/Roombook/BookRoom">Book rooms here</a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/Roombook/disproomdet">Rooms details</a>
        <br>
    </body>
</html>